.genre-select {
    width: fit-content;
    position: relative;
    display: inline-block;
}
.genre-selects-container{
    background-color: #232323EA;
    width: 525px;
}
.genre-select-input {
    width: 489px;
    background: #323232F2;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color: white;   
    padding: 18px;
    border: 0;
    
    padding-right: 30px;
}
.genre-select-input::placeholder{
    color: white;   
}
.genre-select-selects-label {
    color: #FFFFFF;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;    
    position: relative;
}

.genre-select-container{
    cursor: pointer;
    display: block;
    padding: 15px;
    text-align: left;
}
.genre-select-selects-label {
    position: relative;
    cursor: pointer;
}
.genre-select-selects {
    display: none;
}
.genre-select-selects-label:before {
    content:'';
    background-color: white;
    border: 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    width: 16px;
    height: 16px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 5px;
    border-radius: 3px;
}

.genre-select-selects:checked + .genre-select-selects-label:after {
    content: '';
    display: block;
    position: absolute;
    top: 7px;
    left: 5px;
    width: 5px;
    height: 9px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }

.genre-select-selects:checked + .genre-select-selects-label:before {
    background-color: #E64C5A;
  }
.genre-select-arrow {
    position: relative;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: #F65261;
}

.arrow-bottom::before {
    content: '▼'; 
}

.arrow-top::before {
    content: '▲';
}